<div *ngIf="state.isLoaded">
    <h1>Dashboard</h1>
    <div class="widget">
        <p>"Weather" page gets data from yahoo api during "Loading" process</p>
        <a routerLink="weather">To Weather</a>
    </div>
    <div class="widget">
        <p>Form for push notification messages testing</p>
        <form (submit)="submitMessage($event)">
            <label>
                <span>Notification message</span>
                <input type="text" [(ngModel)]="data.title" name="title" required placeholder="Title..."/>
            </label>
            <label>
                <textarea [(ngModel)]="data.text" name="text" placeholder="Body..."></textarea>
            </label>
            <input type="submit" value="Send"/>
        </form>
    </div>
</div>
